.thresp,
.tdresp {
    padding-inline: calc(clamp(0.125rem, 1.697vw - 0.273rem, 1rem)) !important;
}

.tdresp {
    font-size: calc(clamp(0.75rem, 0.276vw + 0.685rem, 0.875rem));
}

.thresp {
    font-size: calc(clamp(0.625rem, 0.276vw + 0.56rem, 0.75rem));
}

@media only screen and (max-width: 768px) {
    .lastlogin {
        display: none;
    }
}
